<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org">
<body>
  <th:block th:fragment="input (label, name, type)">
    <div th:with="valid=${!#fields.hasErrors(name)}" th:class="${valid ? 'form-group' : 'form-group has-error'}">
      <label th:for="${name}" class="form-label" th:text="${label}">Label</label>
      <div th:switch="${type}">
        <input th:case="'text'" class="form-control" type="text" th:field="*{__${name}__}"
          th:attr="aria-invalid=${!valid}">
        <input th:case="'date'" class="form-control" type="date" th:field="*{__${name}__}"
          th:min="${minVisitDate}" th:attr="aria-invalid=${!valid}">
      </div>
      <span th:if="${!valid}" class="help-inline" th:errors="*{__${name}__}" th:text="#{error}">Error</span>
    </div>
  </th:block>
</body>
</html>
