<!DOCTYPE html>

<html th:fragment="layout (template, menu)" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/extras/spring-security">

<head>

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" type="image/x-icon" th:href="@{/resources/images/favicon.png}">
  <title th:text="#{layoutTitle}">PetClinic :: a Spring Framework demonstration</title>
  <link th:href="@{/webjars/font-awesome/css/font-awesome.min.css}" rel="stylesheet">
  <link rel="stylesheet" th:href="@{/resources/css/petclinic.css}" />

</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-dark" role="navigation">
    <div class="container-fluid">
      <a sec:authorize="hasRole('OWNER')" class="navbar-brand" th:href="@{/my/appointments}"><span></span></a>
      <a sec:authorize="hasRole('STAFF')" class="navbar-brand" th:href="@{/staff/queue}"><span></span></a>
      <a sec:authorize="!isAuthenticated()" class="navbar-brand" th:href="@{/}"><span></span></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main-navbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="main-navbar">

        <ul class="navbar-nav me-auto mb-2 mb-lg-0" th:remove="all">

          <li th:fragment="menuItem (link,active,title,glyph,text)" th:class="nav-item">
            <a th:class="${active==menu ? 'nav-link active' : 'nav-link'}" th:href="@{__${link}__}" th:title="${title}">
              <span th:class="'fa fa-'+${glyph}" class="fa fa-home"></span>
              <span th:text="${text}">Template</span>
            </a>
          </li>

        </ul>

        <!-- Owner navigation links -->
        <ul sec:authorize="hasRole('OWNER')" class="nav navbar-nav me-auto">

          <li th:replace="~{::menuItem ('/my/pets','myPets',#{myPets},'paw',#{myPets})}">
            <span class="fa fa-paw" aria-hidden="true"></span>
            <span th:text="#{myPets}">My Pets</span>
          </li>

          <li th:replace="~{::menuItem ('/my/appointments','myAppointments',#{myAppointments},'calendar',#{myAppointments})}">
            <span class="fa fa-calendar" aria-hidden="true"></span>
            <span th:text="#{myAppointments}">My Appointments</span>
          </li>

        </ul>

        <!-- Staff navigation links -->
        <ul sec:authorize="hasRole('STAFF')" class="nav navbar-nav me-auto">

          <li th:replace="~{::menuItem ('/owners/find','owners',#{findOwners},'search',#{findOwners})}">
            <span class="fa fa-search" aria-hidden="true"></span>
            <span th:text="#{findOwners}">Find owners</span>
          </li>

          <li th:replace="~{::menuItem ('/vets.html','vets',#{vets},'th-list',#{vets})}">
            <span class="fa fa-th-list" aria-hidden="true"></span>
            <span th:text="#{vets}">Veterinarians</span>
          </li>

          <li th:replace="~{::menuItem ('/staff/queue','queue',#{schedulingQueue},'inbox',#{schedulingQueue})}">
            <span class="fa fa-inbox" aria-hidden="true"></span>
            <span th:text="#{schedulingQueue}">Scheduling queue</span>
          </li>

          <li th:replace="~{::menuItem ('/staff/calendar','calendar',#{calendar},'calendar',#{calendar})}">
            <span class="fa fa-calendar" aria-hidden="true"></span>
            <span th:text="#{calendar}">Calendar</span>
          </li>

          <li th:replace="~{::menuItem ('/staff/settings','clinicSettings',#{clinicSettings},'cogs',#{clinicSettings})}">
            <span class="fa fa-cogs" aria-hidden="true"></span>
            <span th:text="#{clinicSettings}">Clinic settings</span>
          </li>

        </ul>

        <!-- Right-aligned user session widget & language switcher -->
        <ul class="nav navbar-nav ms-auto align-items-center">

          <!-- Language Switcher -->
          <li class="nav-item dropdown me-3">
            <a class="nav-link dropdown-toggle" href="#" id="langDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <span class="fa fa-globe"></span>
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="langDropdown">
              <li><a class="dropdown-item" th:href="@{''(lang='en')}" th:text="#{language.english}">English</a></li>
              <li><a class="dropdown-item" th:href="@{''(lang='de')}" th:text="#{language.german}">German</a></li>
              <li><a class="dropdown-item" th:href="@{''(lang='es')}" th:text="#{language.spanish}">Spanish</a></li>
              <li><a class="dropdown-item" th:href="@{''(lang='fa')}" th:text="#{language.persian}">Persian</a></li>
              <li><a class="dropdown-item" th:href="@{''(lang='hi')}" th:text="#{language.hindi}">Hindi</a></li>
              <li><a class="dropdown-item" th:href="@{''(lang='ja')}" th:text="#{language.japanese}">Japanese</a></li>
              <li><a class="dropdown-item" th:href="@{''(lang='ko')}" th:text="#{language.korean}">Korean</a></li>
              <li><a class="dropdown-item" th:href="@{''(lang='pt')}" th:text="#{language.portuguese}">Portuguese</a></li>
              <li><a class="dropdown-item" th:href="@{''(lang='ru')}" th:text="#{language.russian}">Russian</a></li>
              <li><a class="dropdown-item" th:href="@{''(lang='tr')}" th:text="#{language.turkish}">Turkish</a></li>
            </ul>
          </li>

          <!-- Anonymous Login Link -->
          <li sec:authorize="!isAuthenticated()" class="nav-item">
            <a class="nav-link" th:href="@{/login}">
              <span class="fa fa-sign-in"></span>
              <span th:text="#{login}">Login</span>
            </a>
          </li>

          <!-- Authenticated Session Widget (Username + Role Badge + Logout) -->
          <li sec:authorize="isAuthenticated()" class="nav-item d-flex align-items-center">
            <span class="navbar-text me-3">
              <span class="fa fa-user me-1"></span>
              <span sec:authentication="name" class="fw-bold"></span>
              <span sec:authorize="hasRole('OWNER')" class="badge bg-info text-dark ms-1" th:text="#{owner}">Owner</span>
              <span sec:authorize="hasRole('STAFF')" class="badge bg-warning text-dark ms-1" th:text="#{staff}">Staff</span>
            </span>
            <form th:action="@{/logout}" method="post" class="d-inline">
              <button type="submit" class="btn btn-outline-light btn-sm">
                <span class="fa fa-sign-out"></span>
                <span th:text="#{logout}">Logout</span>
              </button>
            </form>
          </li>

        </ul>

      </div>
    </div>
  </nav>
  <div class="container-fluid">
    <div class="container xd-container">

      <div sec:authorize="hasRole('OWNER')" class="alert alert-warning"
        th:with="emergencyPhone=${@clinicConfigService.current().emergencyPhone}">
        <strong th:text="#{urgentCare}">Need urgent care?</strong>
        <span th:text="#{urgentCareMessage(${emergencyPhone})}">Call the clinic.</span>
      </div>

      <th:block th:insert="${template}" />

      <br />
      <br />
      <div class="container">
        <div class="row">
          <div class="col-12 text-center">
            <img src="../static/images/spring-logo.svg" th:src="@{/resources/images/spring-logo.svg}"
              alt="" th:alt="#{springLogo}" class="logo">
          </div>
        </div>
      </div>
    </div>
  </div>

  <script th:src="@{/webjars/bootstrap/dist/js/bootstrap.bundle.min.js}"></script>

</body>

</html>
